.container {
   height: 100%;
   width: 100%;
   background-color: rgb(120, 42, 38);
}

.sidenav {
   width: 13rem;
   color: white;
   background-color: rgb(253, 250, 209);
}
.sidenav-content {
   background: linear-gradient(180deg, rgb(97, 7, 7) 10%, rgb(168, 45, 45) 40%, rgb(120, 42, 38) 100%);
}

img {
   height: 200px; 
   width: 200px; 
   margin: .8rem auto 1rem auto;
   display: block;
}

.sidenav a {
   color: rgb(167, 53, 53);
}

.sidenav i {
   margin-right: .6rem;
}

.menu {
   margin: 1rem 0 0 1rem;
   color: rgb(167, 53, 53);
   background-color: rgb(241, 163, 5); 
}