<div class="container">

  <form class="form mat-elevation-z8">

    <mat-card class="card mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>BenditoDoce</mat-card-title>
        <mat-card-subtitle>BenditoDoce</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/img/bendito doce.png" alt="Image Home">
      <mat-card-content>
        <p>
         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
   
   
         <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.
         <br /> At.te: Allana Virgínia
        </p>
      </mat-card-content>
    </mat-card>

  </form>
  
</div>
