<div>
    <mat-card class="card mat-elevation-z8">

      <img mat-card-image src="assets/img/bendito doce.png" alt="Image Home">
      <mat-card-content>
        <p>
          Localizada no coração da cidade de Bananeiras, a Bendito Doce é mais do que uma simples doceria; é um refúgio para os amantes de sobremesas requintadas e irresistíveis. Com um ambiente acolhedor e uma atmosfera encantadora, seus clientes são recebidos por uma variedade deslumbrante de doces artesanais, cuidadosamente preparados para proporcionar uma experiência única de sabor.
   
         <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.
         
         <br /><br /> At.te: Allana Virgínia
         
        </p>
      </mat-card-content>
    </mat-card>
</div>
