.container {
   height: 100%;
   background: linear-gradient(180deg, rgb(97, 7, 7) 10%, rgb(167, 53, 53) 40%, rgb(146, 56, 52) 100%);
   display: flex;
   align-items: center;
   justify-content: center;
}

.form {
   width: 30rem;
   margin: auto;
   background-color: hwb(56 82% 1%);
   padding: 4rem 1rem;
   border-radius: 2rem;
}

img {
   height: 300px; 
   width: 300px; 
   margin: 1.5rem auto;
   margin-top: 10px; 
   display: block;
}

.full-width {
   width: 100%;
}

button {
   margin-top: 1.5rem;
}

mat-icon {
   opacity: .6;
}



